<!-- <form [formGroup]="form">
  <label>
    <div>Search For Food!</div>
    <input formControlName="search" />
  </label>
</form> -->

<section *ngIf="results | async; let results; else loading" class="list">
  <a *ngFor="let result of results" [routerLink]="[result.place_id]" rel="noopener">
    <h2>{{result.name}}</h2>
    <address>
      {{result.vicinity}}
    </address>
    <ngx-input-star-rating [value]="result.rating" [disabled]="true"></ngx-input-star-rating>
  </a>
</section>

<ng-template #loading>
  <ngx-loading-spinner></ngx-loading-spinner>
</ng-template>